@model IEnumerable<RaceListService.Models.EventRaceTimesVM>

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details for @ViewBag.Runner.Name</h2>


<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.RaceId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RaceDistance)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RaceTitle)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RaceTargetTime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RaceActualTime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RaceDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TimeDifference)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TargetTime)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.RaceId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RaceDistance)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RaceTitle)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RaceTargetTime)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RaceActualTime)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RaceDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TimeDifference)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TargetTime)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", "EventRunnerTimes", new {  id=item.RaceId  }, null)           
        </td>
    </tr>
}

</table>
<p>@Html.ActionLink("List","Index") </p>
