@model IEnumerable<RunningModel.Event>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>List of Races</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Venue)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Discipline)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DistanceCode)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Active)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Title)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Venue)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Discipline)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DistanceCode)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Active)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.EFKey }) |
            @Html.ActionLink("Details", "Details", new { id=item.EFKey }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.EFKey })
        </td>
    </tr>
}

</table>
