@model RaceListService.Models.memberRaceDetailVM

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Your Race Details</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.lastRaceDistance)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.lastRaceTitle)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.lastRaceTime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.lastRaceDate)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model.listOfRaces) {
    <tr>

        <td>
            @Html.DisplayFor(modelItem => item.RaceTitle)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RaceDistance)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RaceDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RaceTargetTime)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RaceActualTime)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
        </td>
    </tr>
}

</table>
