@model IEnumerable<RunningModel.NextRace>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

@using (Html.BeginForm("NewTarget", "NextRace", FormMethod.Post))
{
    <fieldset>
        <legend>Update Distance currently set at @ViewBag.targetdistance</legend>
        <div class="form-group">
            Select Target Distance :   @Html.DropDownList("distances")
        </div>
        <div class="form-group">
            <input type="submit" name="calcTime" value="UPDATE" />
        </div>
    </fieldset>
}
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.runner.firstname)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.runner.firstname)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
            </td>
        </tr>
    }

</table>
