@model IEnumerable<RRCCoreApp.ViewModel.PredictTimesVM>
    @{
        ViewData["Title"] = "Predict";
        Layout = "~/Views/Shared/_Layout.cshtml";
    }
    <h2>Predict</h2>
    <p>
        <a asp-action="Create">Create New</a>
    </p>
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.AthleteNumber)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.predictionList)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.rawResult)
                    </td>
                    <td>
                        @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                        @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                        @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
                    </td>
                </tr>
            }
        </tbody>
    </table>
