@model RaceListService.Models.TrophyVM

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>JR Trophy List</h2>


<table class="table">
    <tr>
        <th>
           Name
        </th>
        <th>
           Races
        </th>
        <th>
            Points
        </th>
        <th>
            Time Diff
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model.jrTrophyList)
    {
       
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.races)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.jrPoints)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.timeDiff)
                </td>

            </tr>
      
    }

</table>

<h2>Dave Bell Trophy List</h2>


<table class="table">
    <tr>
        <th>
            Name
        </th>
        <th>
            Races
        </th>
        <th>
            Points
        </th>
        <th>
            Time Diff
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model.dbTrophyList)
    {
        if (!(item.JR))
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.races)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.jrPoints)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.timeDiff)
                </td>

            </tr>
        }
    }

</table>
