


@model IEnumerable<RaceListService.Models.newNextRaceVM>

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h4>&nbsp;</h4>
<div class="panel panel-default">
    <div class="panel-body">

        @using (Html.BeginForm("NewTarget", "NewNextRace", FormMethod.Post, new { id = "MyForm" }))
        {

            <fieldset class="fieldset">
                <legend>Select Next Race to Process</legend>
                <div class="form-group">
                    <label for="distance">Target Race : </label>
                    @Html.DropDownList("elistValue")
                </div>
                <div class="form-group">
                    <input type="submit" name="calcTime" value="Calculate" />
                </div>

            </fieldset>
        }

    </div>
</div>
@if (Model != null)
{
    <h4>Next Race Times</h4>
    <div class="panel-body">
        <fieldset class="fieldset">
            <table class="table">
                <tr>
                    <th>
                        UKAN
                    </th>
                    <th>
                        Name
                    </th>
                    <th>
                        Predicted Time
                    </th>
                    <th>
                        Details
                    </th>
                </tr>

                        @foreach (var item in Model)
                        {
                            <tr>

                                <td>
                                    @Html.DisplayFor(modelItem => item.UKAN)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.RunnerName)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.PredictedTime)
                                </td>
                                <td>
                                <td>
                                    @Html.ActionLink("Race Details", "Index","myTime", new { id = item.RunnerId }, new { target = "_blank" })
                                </td>

                            </tr>                      
                        }
                    

            </table>
        </fieldset>
    </div>


}

