@model IEnumerable<RRCCoreApp.Models.RunEvent>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Title)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Location)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Date)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.DistanceLength)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.DistanceMetric)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.CompetitionCode)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.TypeCode)
                </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Location)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DistanceLength)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DistanceMetric)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CompetitionCode)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TypeCode)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
